.Container{
    color: #707070;
    font-family: Helvetica;
    font-weight: bold;
    font-style: italic;
    width: 300px;
    font-size: 65px;
    text-align: center;
    
    
}

.Container span{
    background-color: #B5C401;
    color: #FFF;
    font-size: 25px;
    border: 1px solid #B5C401 ;
    padding: 5px 40px;
    border-radius: 30px;
}